<a href="https://colab.research.google.com/github/Gamerquebr/SenacProemTecPYExercicios/blob/main/lista9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

1. Dado o dataframe

In [ ]:
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'],
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35],
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6],
                        'Aprovado': [True, False, False, True, True, True, False, False]},
                        columns = ['Nome', 'Idade', 'Notas', 'Aprovado'])

a. Selecione somente os alunos aprovados (aprovado == true)

In [ ]:
print(alunos[alunos['Aprovado'] == True])

    Nome  Idade  Notas  Aprovado
0    Ary     15    7.5      True
3   Beto     32   10.0      True
4  Bruna     42    8.2      True
5   Dara     21    7.0      True

b. Selecione somente os alunos reprovados (aprovado == false)

In [ ]:
print(alunos[alunos['Aprovado'] == False])

     Nome  Idade  Notas  Aprovado
1   Cátia     27    2.5     False
2   Denis     56    5.0     False
6  Carlos     19    6.0     False
7   Alice     35    5.6     False

c. Selecione os alunos com idade maior que 20 anos

In [ ]:
print(alunos[alunos['Idade'] > 20])

    Nome  Idade  Notas  Aprovado
1  Cátia     27    2.5     False
2  Denis     56    5.0     False
3   Beto     32   10.0      True
4  Bruna     42    8.2      True
5   Dara     21    7.0      True
7  Alice     35    5.6     False

d. Calcule a média de idade

In [ ]:
print(alunos['Notas'].mean())

6.475

e. Mostre a maior e menor nota

In [ ]:
print(alunos['Notas'].min())
print(alunos['Notas'].max())

2.5
10.0

2. Dado o dataframe

In [ ]:
dados = pd.DataFrame({
                        'Nome': ['João', 'Maria', 'Pedro', 'Ana', 'Carlos'],
                        'Idade': [25, 28, 21, 32, 35],
                        'Cidade': ['São Paulo', 'Rio de Janeiro',
                        'Belo Horizonte', 'São Paulo', 'Curitiba'],
                        'Salário': [3500, 4200, 2800, 5000, 3800]
})

a. Exibir as últimas 3 linhas do DataFrame.

In [ ]:
print(dados.tail(3))

     Nome  Idade          Cidade  Salário
2   Pedro     21  Belo Horizonte     2800
3     Ana     32       São Paulo     5000
4  Carlos     35        Curitiba     3800

b. Calcular a mediana da coluna "Idade".

In [ ]:
print(dados['Idade'].median())

28.0

c. Filtrar o DataFrame para exibir apenas as linhas em que a cidade seja "São Paulo".

In [ ]:
print(dados[dados['Cidade'] == 'São Paulo'])

   Nome  Idade     Cidade  Salário
0  João     25  São Paulo     3500
3   Ana     32  São Paulo     5000

d. Ordenar o DataFrame em ordem decrescente com base no salário.

In [ ]:
print(dados.sort_values(by='Salário', ascending=[0]))

     Nome  Idade          Cidade  Salário
3     Ana     32       São Paulo     5000
1   Maria     28  Rio de Janeiro     4200
4  Carlos     35        Curitiba     3800
0    João     25       São Paulo     3500
2   Pedro     21  Belo Horizonte     2800

e. Adicionar uma nova coluna chamada "Salário Anual" ao DataFrame, que seja o salário multiplicado por 12.

In [ ]:
salario_ano = {"Salário Anual": []}
for i in dados["Salário"]:
    salario_ano["Salário Anual"].append(i * 12)

dados = pd.concat([dados, pd.DataFrame(salario_ano)], axis=1)
print(dados)

     Nome  Idade          Cidade  Salário  Salário Anual
0    João     25       São Paulo     3500          42000
1   Maria     28  Rio de Janeiro     4200          50400
2   Pedro     21  Belo Horizonte     2800          33600
3     Ana     32       São Paulo     5000          60000
4  Carlos     35        Curitiba     3800          45600

f. Calcular a média salarial por cidade.

In [ ]:
cidades = dados['Cidade'].unique()
for i in cidades:
    cidade = dados.loc[dados['Cidade'] == i]
    media = cidade["Salário"].mean()
    print(f"A média salárial da cidade {i} é: {media}")

A média salárial da cidade São Paulo é: 4250.0
A média salárial da cidade Rio de Janeiro é: 4200.0
A média salárial da cidade Belo Horizonte é: 2800.0
A média salárial da cidade Curitiba é: 3800.0

g. Remover a coluna "Nome" do DataFrame.

In [ ]:
dados = dados.drop(['Nome'], axis=1)
print(dados)

   Idade          Cidade  Salário  Salário Anual
0     25       São Paulo     3500          42000
1     28  Rio de Janeiro     4200          50400
2     21  Belo Horizonte     2800          33600
3     32       São Paulo     5000          60000
4     35        Curitiba     3800          45600